<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {%for i in range(row) :%}
    <div class="container">
        {%if i%2==0%}
     {% for j in range(col):%}
     {%if j%2==0%}
     <div class="redbox"style=" background-color : {{c1}} ;"></div>
        {%endif%}
        {%if j%2==1%}
        <div class="blackbox"style=" background-color : {{c2}}"></div>
        {%endif%}
        {% endfor%}
        {% endif%}
        {%if i%2==1%}
     {% for j in range(col):%}
     {%if j%2==0%}
     <div class="blackbox"style=" background-color : {{c2}}"></div>
     {%endif%}
     {%if j%2==1%}
     <div class="redbox"style=" background-color : {{c1}} ;"></div>
     {%endif%}
        {% endfor%}
        {% endif%}
    </div>
{% endfor %}
    
</body>
</html>